.score {
  background-color: hsl(223, 19%, 93%);
  margin-right: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.score-value {
  margin: 1rem 0;
  color: rgb(83, 87, 182);
  font-weight: bold;
}

.icon-counter {
  cursor: pointer;

  &:hover {
    color: rgb(83, 87, 182);
  }
}
