@import '../../sass/mixins.scss';

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;

  .modal-content {
    width: 25vw;
    height: 30vh;
    position: relative;
    background: white;
    border-radius: 10px;
    opacity: 1;
    padding: 1rem;

    @include medium-only {
      width: 60vw;
      height: auto;
    }

    @include small-down {
      width: 90vw;
      height: auto;
    }
  }

  h3,
  p {
    margin-bottom: 1rem;
  }

  .modal-buttons {
    display: flex;
    justify-content: space-evenly;

    .cancel-button,
    .delete-button {
      height: 2rem;
      width: 45%;
      text-transform: uppercase;
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }

    .delete-button {
      background-color: hsl(358, 79%, 66%);
    }

    .cancel-button {
      background-color: hsl(211, 10%, 45%);
    }
  }
}
