.comment {
  width: 60vw;
  margin: 1rem auto 0;
  background-color: white;
  border-radius: 10px;
  display: flex;
  padding: 2rem;
}

button {
  height: 2rem;
  width: 5rem;
  background-color: rgb(83, 87, 182);
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.wrapper-username {
  width: 100%;
}

.user {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;

    .username {
      margin: 0 1rem;
      font-weight: bold;

      span {
        color: white;
        background-color: rgb(83, 87, 182);
        border-radius: 2px;
        padding: 0.25rem;
      }
    }

    .created-at {
      color: #666;
    }
  }

  .reply-icon {
    cursor: pointer;
    color: rgb(83, 87, 182);
    font-weight: bold;

    p {
      margin-left: 0.5rem;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.delete-edit {
  .delete {
    cursor: pointer;
    color: rgb(237, 99, 104);
    margin-right: 1.5rem;

    p {
      margin-left: 0.5rem;
      font-weight: bold;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .edit {
    cursor: pointer;
    color: rgb(83, 87, 182);

    p {
      font-weight: bold;
      margin-left: 0.5rem;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.replying-to {
  color: rgb(83, 87, 182);
  font-weight: bold;
}

.content {
  color: #666;
}

.wrapper-replies {
  border-left: 2px solid hsl(211, 10%, 45%);
  width: 57.5vw;
  margin: 1rem 0 0 23vw;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.replies {
  margin: 0 1rem 0.5rem 0;
}

.replies:first-child {
  margin-top: -1rem;
}

.replies:last-child {
  margin-bottom: 0;
}

.reply {
  width: 52vw;
  background-color: white;
  border-radius: 10px;
  display: flex;
  padding: 2rem;
}

.reply:last-child {
  margin-bottom: 0;
}

.content {
  margin-top: 1rem;
}
